[submodule "mcq-cli"]
	path = mcq-cli
	url = git@github.com:tzok/mcq-cli.git
	branch = develop
[submodule "mcq-core"]
	path = mcq-core
	url = git@github.com:tzok/mcq-core.git
	branch = develop
[submodule "mcq-clustering"]
	path = mcq-clustering
	url = git@github.com:tzok/mcq-clustering.git
	branch = develop
[submodule "mcq-gui"]
	path = mcq-gui
	url = git@github.com:tzok/mcq4structures.git
	branch = develop
